nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: $white solid 2px;

  .logo {
    width: 92px;
    height: 42px;
    border-bottom: $white solid 2px;
    border-right: $white solid 2px;
    border-top: $white solid 2px;
    border-left: $white solid 2px;

    p {
      text-decoration: none;
      color: $white;
      margin-top: 15px;
      font-family: Gill;
      font-size: 25px;
    }
  }

  .links {
    width: 592px;
    height: 42px;
    align-self: center;
    display: flex;

    a {
      text-decoration: none;
      color: $white;
      margin: auto;
      font-family: Gill;
    }

    p {
      text-decoration: none;
      color: $site-blue;
      margin: auto;
      font-size: 25px;
      font-family: Gill;
    }
  }
}
