footer {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  //justify-content: space-between;
  background-color: $site-blue;

  .logo {
    margin-top: 30px;
    margin-left: 10%;
    width: 92px;
    height: 42px;
    border-bottom: $white solid 2px;
    border-right: $white solid 2px;
    border-top: $white solid 2px;
    border-left: $white solid 2px;

    p {
      text-decoration: none;
      color: $white;
      margin-top: 15px;
      font-family: Gill;
      font-size: 25px;
    }
  }

  .copyright {
    margin-top: 30px;
    margin-left: 9%;
    width: 50%;

    p {
      text-align: center;
      text-decoration: none;
      color: $white;
      margin-top: 15px;
      font-family: Gill;
      font-size: 12px;
    }
  }
}
